# Compiled source #
############
*.exe
main.out

# Packages #
############
*.rar
*.zip

# Test files #
############
*.in
*.out
Casos de Teste/

# Other files #
############
*.csv
*.bin

# Netbeans metadata #
###########
build/
nbproject/private/
private.xml
private.properties
